<!doctype html>
<html>
  <head>
    <title>Airbnb</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/style.scss">
    <script src="assets/style.js"></script>
  </head>
<body>
  <header class="header">
    <nav class="navbar fixed-top navbar-white bg-white navbar-style">
      <div class="_iiid5y"><svg viewBox="0 0 1000 1000" role="presentation" aria-hidden="true" focusable="false" style="height:1em;width:1em;display:block;fill:currentColor"><path d="m499.3 736.7c-51-64-81-120.1-91-168.1-10-39-6-70 11-93 18-27 45-40 80-40s62 13 80 40c17 23 21 54 11 93-11 49-41 105-91 168.1zm362.2 43c-7 47-39 86-83 105-85 37-169.1-22-241.1-102 119.1-149.1 141.1-265.1 90-340.2-30-43-73-64-128.1-64-111 0-172.1 94-148.1 203.1 14 59 51 126.1 110 201.1-37 41-72 70-103 88-24 13-47 21-69 23-101 15-180.1-83-144.1-184.1 5-13 15-37 32-74l1-2c55-120.1 122.1-256.1 199.1-407.2l2-5 22-42c17-31 24-45 51-62 13-8 29-12 47-12 36 0 64 21 76 38 6 9 13 21 22 36l21 41 3 6c77 151.1 144.1 287.1 199.1 407.2l1 1 20 46 12 29c9.2 23.1 11.2 46.1 8.2 70.1zm46-90.1c-7-22-19-48-34-79v-1c-71-151.1-137.1-287.1-200.1-409.2l-4-6c-45-92-77-147.1-170.1-147.1-92 0-131.1 64-171.1 147.1l-3 6c-63 122.1-129.1 258.1-200.1 409.2v2l-21 46c-8 19-12 29-13 32-51 140.1 54 263.1 181.1 263.1 1 0 5 0 10-1h14c66-8 134.1-50 203.1-125.1 69 75 137.1 117.1 203.1 125.1h14c5 1 9 1 10 1 127.1.1 232.1-123 181.1-263.1z">
      </path></svg></div>
      <ul class="nav justify-content-end">
        <li class="nav-item nav-item-style">
          <%= link_to 'ホストをはじめる', new_room_path, method: :get %>
        </li>
        <li class="nav-item nav-item-style">
          <%= link_to '旅行', "/" %>
        </li>
        <li class="nav-item nav-item-style">
          <%= link_to 'メッセージ', "/" %>
        </li>
        <li class="nav-item nav-item-style">
          <%= link_to 'プロフィールを編集', "/users/:id/edit", method: :get %>
        </li>
        <li class="nav-item nav-item-style">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </nav>
  </header>
  <div class="messages-left">
    <div class="messages-left1">
      <div class="messages-host">
        <div class="messages-host1">
          <img class="image0" src="https://a0.muscache.com/im/users/23666/profile_pic/1411625475/original.jpg?aki_policy=profile_x_medium" width="150" height="150">
        </div>
      </div>
      <div class="space-top-3 col-sm-12">
        <div class="h4">
          <a href="/users/show/45045932" class="messages-name1">Marrianne</a>
        </div>
        <div class="space-top-1">
          <span class="messages-name2">港区, 日本</span>
          <br>
          <span class="messages-name2">
            <span>認証済み項目2件</span>
          </span>
          <div>
            <button type="button" class="messages-name3" aria-disabled="false" aria-busy="false">
              <span>通報</span>
            </button>
          </div>
        </div>
      </div>
      <div class="messages-sidebar">
        <div class="mt-sidebar-container">
          <div>
            <span></span>
            <div class="space-4 space-top-6">
              <div class="messages-reservation-info clearfix">
                <div>
                  <div class="reservation-info-section__clear">

                  </div>
                  <div class="messages-sidebar1">
                    <span>旅行詳細</span>
                  </div>
                  <div class="space-4">
                    <a class="messages-sidebar2" href="/rooms/21949853">Center of Tokyo</a>
                  </div>
                  <hr>
                  <div class="space-top-2">
                    <div class="col-sm-5">
                      <div class="messages-sidebar3">
                        <span>チェックイン</span>
                      </div>
                      <div class="messages-reservation_checkin">12月4日 月曜日</div>
                    </div>
                    <div class="col-sm-1">
                      <i class="icon icon-size-1 icon-chevron-right text-medium-gray checkin-details__chevron"></i>
                    </div>
                    <div class="col-sm-5 pull-right text-left">
                      <div class="messages-sidebar3">
                        <span>チェックアウト</span>
                      </div>
                      <div class="messages-reservation_checkout">12月5日 火曜日</div>
                    </div>
                    <hr>
                    <div class="space-2">
                      <div class="messages-sidebar3">
                        <span>人数</span>
                      </div>
                      <div class="messages-sidebar4">
                        <span>大人<span class = reservation_guest_count>1</span>名</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="messages-payment-info">
              <div class="messages-sidebar4">
                <span>お支払い内容</span>
              </div>
              <div class="messages-sidebar-box">
                <div class="col-sm-8 messages-sidebar3">
                  <span>
                    <span>¥ 19962</span> x 1泊</span>
                </div>
                <div class="col-sm-4 messages-sidebar3">¥ 19962</div>
                  <div class="col-sm-8 messages-sidebar3">
                    <span>サービス料</span>
                  </div>
                  <div class="col-sm-4 messages-sidebar3">¥ 2481</div>
                  <hr class="payment-info">
                    <div class="col-sm-8 messages-sidebar4">
                      <strong>
                        <span>合計</span>
                      </strong>
                    </div>
                    <div class="col-sm-4 messages-sidebar4">
                      <strong>¥ 22443</strong>
                    </div>
                  </div>
                  <hr>
                  <div style="margin-top: 48px; margin-bottom: 16px;">
                    <div style="margin-bottom: 16px;">
                      <div class="messages-sidebar3">
                        <span>連絡は常にAirbnb経由で</span>
                      </div>
                    </div>
                    <div style="margin-bottom: 16px;">
                      <span>お支払いの安全を確保するためにも、送金や連絡は必ずAirbnbのウェブサイトもしくはアプリから行ってください。</span>
                    </div>
                    <a href="/help/article/199" target="_blank" rel="noopener noreferrer" class="messages-name3" aria-disabled="false" aria-busy="false">
                      <span>もっと詳しく</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="messages-right">
        <div class="messages-chat-main">

            <form>
              <div class="messages-chat1">
                <label for="send_message_textarea" class="screen-reader-only">
                  <span>メッセージを書く</span>
                </label>
                <textarea id="send_message_textarea" class="send-message-textarea" placeholder="" style="height: 80px;">

                </textarea>
              </div>
              <div class="messages-chat2">
                <div class="messages-chat4">
                  <button type="submit" class="messages-chat5" aria-busy="false">
                    <span class="messages-chat6">
                      <span>メッセージを送信</span>
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="messages-google">
          <button class="btn gray">この会話を日本語に翻訳
            <br>
            <span class="gBrandingText">
              <span>powered by
                <span><img src="https://a0.muscache.com/airbnb/static/logos/google-small-logo-2a536df1485db3d64cd10c2fdef19a03.png" alt="Google" width="51" height="15"></span>
              </span>
            </span>
          </button>
        </div>
        <div class="messages-chat100" style="height: 72px; width: 72px; display: block;">
          <img class="messages-chat15" src="https://a0.muscache.com/im/pictures/user/b7cc4a1c-49ce-47b6-8371-b1fdd7dccddb.jpg?aki_policy=profile_medium" height="72" width="72">
        </div>
        <div class="messages-chat-main1">
          <div class="messages-chat7">
            <div class="messages-chat8">
              <span class="messages-chat9">
                <span>
                  <% @group.messages.each do |message| %>
                    <p class = "show_each_message">
                      <%= message.body %>
                    </p>
                  <% end %>
                </span>
              </span>
            </div>
          <% if current_user.id == @group.user_groups.last.user_id %>
            <%= form_for( @reservation, :url => {:controller => :reservations, :action => :create}) do |t| %>
            <%= t.hidden_field :check_in, class: 'user_inputed_checkin' %>
            <%= t.hidden_field :check_out, class: 'user_inputed_checkout' %>
            <%= t.hidden_field :guest_count, class: 'user_inputed_guestcount' %>
            <%= t.hidden_field :user_id, value: @group.user_groups.first.user_id  , class: 'pass_the_userid' %>
            <%= t.hidden_field :room_id, value: Room.find_by( user_id:@group.user_groups.last.user_id ).id , class: 'pass_the_roomid' %>
            <%= t.submit "承認する", class:"btn btn-sm btn-primary_accept"%>
            <%= t.submit "拒否する", class:"btn btn-sm btn-primary_decline"%>
            <% end %>
          <% end %>
            <div class="messages-chat10">
              <div class="messages-chat11">
                <span class="messages-chat12">2017年11月27日</span>
              </div>
            </div>
          </div>
        </div>
        <div class="messages-chat13">
          <div class="messages-chat14" style="height: 72px; width: 72px; display: block;">
            <img class="messages-chat15" src="https://a0.muscache.com/im/pictures/user/b7cc4a1c-49ce-47b6-8371-b1fdd7dccddb.jpg?aki_policy=profile_medium" height="72" width="72">
          </div>
        </div>
      </div>
      <div class="messages-chat-main2">
        <div class="messages-chat7">
          <div class="messages-chat8">
            <span class="messages-chat9">
              <span>Yes, the room is available during the specified dates. I have sent a pre-approval so a reservation </span>
            </span>
          </div>
          <div class="messages-chat10">
            <div class="messages-chat11">
              <span class="messages-chat12">2017年11月27日</span>
            </div>
          </div>
        </div>
      </div>
      <div class="messages-chat13">
        <div class="messages-chat18" style="height: 72px; width: 72px; display: block;">
          <img class="messages-chat15" src="https://a0.muscache.com/im/users/23666/profile_pic/1411625475/original.jpg?aki_policy=profile_x_medium" height="72" width="72">
        </div>
      </div>
    </body>
    <footer class="footer-messages">
      <div class="footer-content">
        <div class="footer-role">
          <div class="select-content">
            <div class="dropdown">
              <button class="btn btn-lg dropdown-toggle laguage-style rounded-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">日本語</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">English</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-lg dropdown-toggle money-style rounded-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">日本円</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">米ドル</a>
              </div>
            </div>
          </div>
          <div class="intoroduction-content1">
            <div class=" p p-style0">Airbnb<br>
              <br>
              <a>会社情報</a><br>
              <a>採用情報</a><br>
              <a>プレス</a><br>
              <a>ポリシー</a><br>
              <a>ヘルプ</a><br>
              <a>ダイバーシティ＆ビロンギング</a><br>
            </div>
          </div>
          <div class="intoroduction-content2">
            <div class="p p-style0">スタッフのおすすめ<br>
              <br>
              <a>信頼＆安全</a><br>
              <a>旅行クーポン</a><br>
              <a>Airbnb Citizen</a><br>
              <a>出張</a><br>
              <a>ガイドブック</a><br>
              <a>Airbnbmag </a><br>
            </div>
          </div>
          <div class="intoroduction-content3">
            <div class="p p-style0">ホスティング<br>
              <br>
              <a>ホストになる理由</a><br>
              <a>ホストに招待</a><br>
              <a>おもてなしの心</a><br>
              <a>ホストの責任</a><br>
              <a>コミュニティセンター</a><br>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="copyright-left">@Airbnb_Team</div>
          <div class="copyright-right">
            <a>利用規約</a>
            <a>プライバシー</a>
            <a>サイトマップ</a>
            <i class="fa fa-facebook icon-style1" aria-hidden="true"></i>
            <i class="fa fa-twitter icon-style1" aria-hidden="true"></i>
            <i class="fa fa-instagram icon-style1" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </footer>
  </html>
