<!doctype html>
<html lang="ja">
  <head>
    <title>Airbnb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/_rooms_new.scss">
    <script src="assets/style.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="navbar-white bg-white navbar-style message-new-nav">
        <div class="image-logo" >
          <%= image_tag('airbnb.png',:size => "100x60", :class => "message-new-logo") %>
        </div>

        <div class="message-new-step4">
         <h5>　　1.ご同行のかたは？</h5>
       </div>
        <div class="message-new-step5">
         <h5>　>　2.送信内容の確認</h5>
       </div>
     </div>
    </header>

    <div class=" messages-new-left-contents">
      <h1>この内容でホストに送信してよろしいですか？</h1>
      <div class="message-new-main-contents">
      <div class="message-new-right2">
        <%= image_tag('airbnb.png',:size => "100x60", :class => "message-new-host2") %>
        <h4>Center of Tokyo</h4>
        <span>港区の個室</span>
        <table class="message-new-table-main">
          <hr>
          <span><i class="fa fa-user"></i><%= @guestcount %></span><br>
          <span><i class="fa fa-calendar-o"></i><%= @checkin %> → <%= @checkout %></span>
        </table>
        <table class="message-new-table-sub1">
          <tr><hr><td>¥20000✕１泊</td><td align="right">¥20000</td></tr>
          <tr><td>サービス料</td><td align="right">¥2160</td></tr>
        </table>
        <table class="message-new-table-sub2">
          <tr><hr><td>合計額(JPY)</td><td align="right">¥22160</td></tr>
        </table>
        <hr>
        </div>
      </div>
      <div class="testtest" id="testid">
      </div>
      <div class="reservation-host-message">
        ホストへのメッセージ
      </div>
      <div class="reservation-text-box">
        <%= @messagebody %>
      </div>
      <%= form_for(@message, :url => {:controller => :messages, :action => :create}) do |f| %>
        <%= f.hidden_field :body %>
        <%= fields_for @group do |t| %>
          <%= t.hidden_field :name, class: 'DateInput__input needsclick' %>
          <!-- <input type="hidden" name="group[user_id][]" value=current_user.id > -->
          <%= hidden_field_tag "group[user_ids][]", current_user.id %>
          <%= hidden_field_tag "group[user_ids][]", @reservation.room.user.id %>
          <!-- <%= t.hidden_field :user_ids, value: @reservation.room.user.id %> -->
        <% end %>

        <%= f.submit "この内容でホストに送信する", class: "messages-continue1"%>
      <% end %>

      <!-- <%= hidden_field_tag :user_ids, @reservation.room.user.id %> -->
      <div class="aaaaaaa">
        1
      </div>
    </div>
  </body>
</html>
