<!doctype html>
<html>
  <head>
    <title>お部屋情報登録</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="main-content">
      <div class="new-header">
        <button type="button" class="button-style">airbnb</button>
        <div class="comp-left">
          <span class="h5 text-normal">ステップ１：最初は基本情報から</span>
        </div>
        <div class="comp-right">
          <a>保存して閉じる</a>
        </div>
        <div class="progress" style="height:5px;">
        <div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="left-content">
        <div class="left-content-list">
          <div class="rooms-title">
            <span class="rooms-title-font">最大何人まで宿泊可能ですか?</span>
          </div>
          <%= form_for [@room, @bedroom] do |f| %>
            <div class="rooms-capacity_count">
              <h5>定員</h5>
              <%= f.select :capacity_count, { １人: '1', ２人: '2', ３人: '3', ４人: '4', ５人: '5' } , {}, {class: 'rooms-select-control'}  %>
            </div>

            <div class="rooms-bedrooms_count">
              <h5>ゲストが使用できるベッドルーム数は？</h5>
              <%= f.select :rooms_count, { １ベッドルーム: '1', ２ベッドルーム: '2', ３ベッドルーム: '3', ４ベッドルーム: '4', ５ベッドルーム: '5' } , {}, {class: 'rooms-select-control'}  %>
            </div>

            <div class="rooms-beds_count">
              <h5>ゲスト用のベッド台数は？</h5>
              <%= f.select :beds_count, { １台: '1', ２台: '2', ３台: '3', ４台: '4', ５台: '5' } , {}, {class: 'rooms-select-control'}  %>
            </div>

            <div class="main-panel-action-wrapper">
              <div class="main-panel-half-content clearfix">
                <div class="main-panel-half-spacce">
                  <div class="main-panel-half">
                    <%= link_to '← 戻る', new_room_path, class: 'h5 rooms-back-font' %>
                    <%= f.submit '次へ', class: 'rooms-save-btn' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="helper-content">
        <div class="helper-content-list">
          <div class="card card-style rounded-0" style="width: 20rem;">
            <img class="card-img-top">
            <div class="card-body">
              <span class="fa fa-lightbulb-o fa-3x text-info" aria-hidden="true"></span><br>
              <p class="card-text text-muted">ここに入力するベッドの種類と数で、快適に泊まれる最大定員が決まります。</p>
              <p class="card-text text-muted">夜間の部屋割りの参考になりますので、ベッド情報も登録しておきましょう。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
