<!doctype html>
<html>
  <head>
    <title>Airbnb</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <%= render partial: 'shared/header' %>
  <body>
    <div class="favorites-title1">
      <div class="favorites-title2">
        <div class="favorites-title3">
          <span>お気にいり</span>
        </div>
      </div>
    </div>
    <div class="favorites-button1">
      <button type="button" class="favorites-button2" aria-busy="false">
        <span class="favorites-button3">
          <span>お気にいりを作成</span>
        </span>
      </button>
    </div>
    <div class="favorites-content">
      <div class="my-favorites1">
        <div class="my-favorites2">
          <div class="my-favorites3">
            <span class="my-favorites4">
              <span>マイコレクション</span>
            </span>
            <span class="my-favorites5">
              <span><%= @favorites.count(current_user.id) %>件のコレクション</span>
            </span>
          </div>
        </div>
      </div>
      <div class="favorites-photo1">
        <div class="favorites-photo2">
          <div class="favorites-photo3">
            <% @favorites.each do |favorite| %>
              <% room = Room.find(favorite.room_id) %>
              <%= image_tag(room.photos.image) %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="popular-favorites1">
        <div class="popular-favorites2">
          <div class="popular-favorites3">
            <span class="my-favorites4">
              <span>人気のコレクション</span>
            </span>
          </div>
        </div>
      </div>
      <div class="favorites-photo4">
        <div class="favorites-photo5">
          <div class="favorites-photo6">
            <img class="image0" src="<%= asset_path "image1.jpeg" %>" style="width: 20rem;">
          </div>
        </div>
      </div>
      <div class="favorites-photo7">
        <div class="favorites-photo8">
          <div class="favorites-photo9">
            <img class="image0" src="<%= asset_path "image2.jpeg" %>" style="width: 20rem;">
          </div>
        </div>
      </div>
      <div class="favorites-photo10">
        <div class="favorites-photo11">
          <div class="favorites-photo12">
            <img class="image0" src="<%= asset_path "image3.jpeg" %>" style="width: 20rem;">
          </div>
        </div>
      </div>
      <div class="favorites-photo13">
        <div class="favorites-photo14">
          <div class="favorites-photo15">
            <img class="image0" src="<%= asset_path "image4.jpeg" %>" style="width: 20rem;">
          </div>
        </div>
      </div>
      <div class="favorites-photo16">
        <div class="favorites-photo17">
          <div class="favorites-photo18">
            <img class="image0" src="<%= asset_path "image5.jpeg" %>" style="width: 20rem;">
          </div>
        </div>
      </div>
      <div class="favorites-photo19">
        <div class="favorites-photo20">
          <div class="favorites-photo21">
            <img class="image0" src="<%= asset_path "image6.jpeg" %>" style="width: 20rem;">
          </div>
       </div>
      </div>
    </div>
  </body>
</html>
