<!doctype html>
<html>
  <head>
    <title>お部屋情報登録</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="main-amenity-content">
      <div class="new-header">
        <button type="button" class="button-style">airbnb</button>
        <div class="comp-left">
          <span class="h5 text-normal">ステップ１：最初は基本情報から</span>
        </div>
        <div class="comp-right">
          <a>保存して閉じる</a>
        </div>
        <div class="progress" style="height:5px;">
        <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="left-amenity-content">
        <div class="left-content-list">
          <div class="rooms-amenity-title">
            <span class="rooms-title-font">ご用意するアメニティ・設備は?</span>
          </div>
          <%= form_for [@room, @amenity] do |f| %>
            <div class="rooms-amenity-check_box">
              <label class="rooms-amenity-label"><%= f.check_box 'pet', {}, "true", "false" %>ペット可</label>
              <label class="rooms-amenity-label"><%= f.check_box 'elevator', {}, "true", "false" %>エレベーター</label>
              <label class="rooms-amenity-label"><%= f.check_box 'gym', {}, "true", "false" %>ジム</label>
              <label class="rooms-amenity-label"><%= f.check_box 'doorman', {}, "true", "false" %>ドアマン</label>
              <label class="rooms-amenity-label"><%= f.check_box 'breakfast', {}, "true", "false" %>朝食</label>
              <label class="rooms-amenity-label"><%= f.check_box 'suitable_for_events', {}, "true", "false" %>イベントに最適</label>
              <label class="rooms-amenity-label"><%= f.check_box 'free_parking', {}, "true", "false" %>専用駐車場</label>
              <label class="rooms-amenity-label"><%= f.check_box 'smoking_allowed', {}, "true", "false" %>喫煙可</label>
              <label class="rooms-amenity-label"><%= f.check_box 'wheelchair_accessible', {}, "true", "false" %>車椅子可</label>
              <label class="rooms-amenity-label"><%= f.check_box 'wireless_internet', {}, "true", "false" %>ワイヤレスインターネット</label>
              <label class="rooms-amenity-label"><%= f.check_box 'hot_tub', {}, "true", "false" %>ジャグジー</label>
              <label class="rooms-amenity-label"><%= f.check_box 'air_conditioning', {}, "true", "false" %>エアコン</label>
              <label class="rooms-amenity-label"><%= f.check_box 'kitchen', {}, "true", "false" %>キッチン</label>
              <label class="rooms-amenity-label"><%= f.check_box 'cable_tv', {}, "true", "false" %>ケーブルテレビ</label>
              <label class="rooms-amenity-label"><%= f.check_box 'baby_bath', {}, "true", "false" %>ベビーバス</label>
              <label class="rooms-amenity-label"><%= f.check_box 'baby_monitor', {}, "true", "false" %>ベビーモニター</label>
              <label class="rooms-amenity-label"><%= f.check_box 'babysitter', {}, "true", "false" %>ベビーシッター</label>
              <label class="rooms-amenity-label"><%= f.check_box 'bathtub', {}, "true", "false" %>バスタブ</label>
              <label class="rooms-amenity-label"><%= f.check_box 'changing_table', {}, "true", "false" %>おむつ交換台</label>
              <label class="rooms-amenity-label"><%= f.check_box 'childrend_books_and_toys', {}, "true", "false" %>絵本＆おもちゃ</label>
              <label class="rooms-amenity-label"><%= f.check_box 'childrens_dinnerware', {}, "true", "false" %>子供用まえかけ</label>
              <label class="rooms-amenity-label"><%= f.check_box 'crib', {}, "true", "false" %>ベビーベッド</label>
              <label class="rooms-amenity-label"><%= f.check_box 'fireplace_guards', {}, "true", "false" %>ストーブガード</label>
              <label class="rooms-amenity-label"><%= f.check_box 'indoor_fireplace', {}, "true", "false" %>室内暖炉・薪ストーブ・囲炉裏</label>
              <label class="rooms-amenity-label"><%= f.check_box 'pool', {}, "true", "false" %>プール</label>
              <label class="rooms-amenity-label"><%= f.check_box 'shampoo', {}, "true", "false" %>シャンプー</label>
              <label class="rooms-amenity-label"><%= f.check_box 'hangers', {}, "true", "false" %>ハンガー</label>
              <label class="rooms-amenity-label"><%= f.check_box 'iron', {}, "true", "false" %>アイロン</label>
              <label class="rooms-amenity-label"><%= f.check_box 'dryer', {}, "true", "false" %>乾燥機</label>
              <label class="rooms-amenity-label"><%= f.check_box 'hair_dryer', {}, "true", "false" %>ヘアドライヤー</label>
              <label class="rooms-amenity-label"><%= f.check_box 'Laptop', {}, "true", "false" %>ノートパソコン</label>
              <label class="rooms-amenity-label"><%= f.check_box 'tv', {}, "true", "false" %>テレビ</label>
              <label class="rooms-amenity-label"><%= f.check_box 'washer', {}, "true", "false" %>洗濯機</label>
              <label class="rooms-amenity-label"><%= f.check_box 'heating', {}, "true", "false" %>暖房</label>
              <label class="rooms-amenity-label"><%= f.check_box 'free_parking_on_street', {}, "true", "false" %>周辺駐車場</label>
              <label class="rooms-amenity-label"><%= f.check_box 'private_entrance', {}, "true", "false" %>専用玄関</label>
              <label class="rooms-amenity-label"><%= f.check_box 'ethernet_connection', {}, "true", "false" %>LAN接続</label>
              <label class="rooms-amenity-label"><%= f.check_box 'game_console', {}, "true", "false" %>ゲーム機</label>
              <label class="rooms-amenity-label"><%= f.check_box 'high_chair', {}, "true", "false" %>ハイチェア</label>
              <label class="rooms-amenity-label"><%= f.check_box 'outlet_covers', {}, "true", "false" %>コンセントカバー</label>
              <label class="rooms-amenity-label"><%= f.check_box 'travel_crib', {}, "true", "false" %>お出かけクリブ</label>
              <label class="rooms-amenity-label"><%= f.check_box 'room_darkening_shades', {}, "true", "false" %>遮光カーテン</label>
              <label class="rooms-amenity-label"><%= f.check_box 'stair_gates', {}, "true", "false" %>階段用ベビーゲート</label>
              <label class="rooms-amenity-label"><%= f.check_box 'table_corner_guards', {}, "true", "false" %>テーブルのコーナーガード</label>
            </div>
            <div class="main-panel-action-wrapper">
              <div class="main-panel-half-content clearfix">
                <div class="main-panel-half-spacce">
                  <div class="main-panel-half">
                    <%= link_to '← 戻る', new_room_location_path, class: 'h5 rooms-back-font' %>
                    <%= f.submit '保存', class: 'rooms-save-btn' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="helper-amenity-content">
        <div class="helper-content-list">
          <div class="card card-style rounded-0" style="width: 20rem;">
            <img class="card-img-top">
            <div class="card-body">
              <span class="fa fa-lightbulb-o fa-3x text-info" aria-hidden="true"></span><br>
              <p class="card-text text-muted">生活必需品を揃えておくと、ゲストも自分の家のようにくつろげます。</p><br>
              <p class="card-text text-muted">朝食を用意する方もいれば、コーヒーやお茶だけにする方も。どれも義務というわけではないけれど、あると温かいおもてなしの気持ちが伝わるアイテムです。</p><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
