<!doctype html>
<%= javascript_include_tag "coming.js" %>
<html lang="ja">
  <head>
    <title>Airbnb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/_rooms_new.scss">
    <script src="assets/style.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="navbar-white bg-white navbar-style message-new-nav">
        <div class="image-logo" >
          <%= image_tag('airbnb.png',:size => "100x60", :class => "message-new-logo") %>
        </div>
        <div class="message-new-step1">
         <h5>1.ご同行のかたは？</h5>
       </div>
        <div class="message-new-step2">
         <h5>>2.送信内容の確認</h5>
       </div>
     </div>
    </header>
    <div class=" messages-new-left-contents">
      <h1>お連れの方は？</h1>
      <div class="message-new-left1">
        <h3>ゲスト</h3>
        <%= form_for(@message, :url => {:controller => :messages, :action => :new}) do |f| %>
          <%= fields_for @reservation do |c| %>
            <%= c.hidden_field :check_in, class: 'DateInput__input needsclick' %>
            <%= c.hidden_field :check_out, class: 'DateInput__input needsclick' %>
            <%= c.hidden_field :guest_count, class: 'DateInput__input needsclick' %>
          <% end %>
          <%= fields_for @group do |t| %>
            <%= t.hidden_field :name, class: 'DateInput__input needsclick' %>
            <%= t.hidden_field :room_id, class: 'new_pass_roomid', value: params[:reservation][:room_id] %>
          <% end %>

        <div class="message-new-left2">

          <h3>ホストにひとことご挨拶を</h3>
          <h6>Takahisaさんに簡単に自己紹介をして旅の目的を伝えましょう</h6>
        </div>
        <%= f.text_area :body, :size => "90x8", :placeholder => "Takahisaさん、１泊お世話になります！今から楽しみです！", :class => 'a' %>
    <%= f.submit "続行", class: "messages-continue"%>
    <% end %>

  </div>

    <div class="message-new-right-contents">
    <div class="message-new-right2">
      <%= image_tag('airbnb.png',:size => "100x60", :class => "message-new-host2") %>
      <h4>Center of Tokyo</h4>
      <span>港区の個室</span>
      <table class="message-new-table-main">
        <hr>
        <span class="message-guest-count">
          <i class="fa fa-user"></i><%= @reservation.guest_count %>人
        </span>
        <br>
        <span class="message-checkdate">
          <i class="fa fa-calendar-o"></i><%= @reservation.check_in %> → <%= @reservation.check_out %>
        </span>
      </table>
      <table class="message-new-table-sub1">
        <tr><hr><td class = "coming_price_with_mark">宿泊料 ¥<%=params[:price] %></td><td>✕<%= @dates_to_stay.to_i %>泊</td><td align="right">¥<%=params[:price].to_i*@dates_to_stay.to_i%></td></tr>
        <tr><td>週末料金</td><td align="right">¥<%=params[:weekend_rates].to_i*@day_count.to_i%></td></tr>
      </table>
      <table class="message-new-table-sub2">
        <tr><hr><td>合計額(JPY)</td><td align="right">¥<%=params[:price].to_i*@dates_to_stay.to_i+params[:weekend_rates].to_i*@day_count.to_i%></td></tr>
      </table>
      <hr>
      <%= image_tag('airbnb.png',:size => "100x60", :class => "message-new-logo2") %>
      <h5>柔軟 - キャンセル無料</h5>
      <span>予約後48時間以内に解約すれば全額返金されます。<a href="#">詳細はこちら</a></span>
      </div>
    </div>
  </body>
</html>
