<div class="col-md-4">
  <div class="room-collection-wrapper">
  	<div class="room-collection-main">
  		
	  		<div class="room-collection-main-image">
	  			<%= link_to image_tag(@room.set_main_image), room_path(@room) %>
	  		</div>
	  		<div class="room-collection-introduction">
	  			<div class="h5"><%= @room.room_type %>"・"<%= @room.bedrooms.beds_count %></div>
	  			<div class="h5"><%= @room.explanatories.title %></div>
	  			<div class="h5"><%= @room%></div>
	  		</div>
	  	<% end %>
  	</div>
  </div>
</div>