<!doctype html>
<html>
  <head>
    <title>お部屋情報登録</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="main-content">
      <div class="new-header">
        <button type="button" class="button-style">airbnb</button>
        <div class="comp-left">
          <span class="h5 text-normal">ステップ１：最初は基本情報から</span>
        </div>
        <div class="comp-right">
          <a>保存して閉じる</a>
        </div>
        <div class="progress" style="height:5px;">
        <div class="progress-bar bg-info" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="left-content">
        <div class="left-content-list">
          <div class="rooms-title">
            <span class="rooms-title-font">掲載するのはどんなお部屋ですか?</span>
          </div>
          <%= form_for @room do |f| %>
            <div class="rooms-property_type">
              <h5>住宅、ホテル、その他から１つお選びください</h5>
              <%= f.select :property_type, { 住宅: '住宅', ホテル: 'ホテル', その他: 'その他' } , {}, {class: 'rooms-select-control'}  %>
            </div>

            <div class="rooms-home_type">
              <h5>建物タイプは？</h5>
              <%= f.select :home_type, { アパート: "アパート", コンドミニアム: "コンドミニアム", 一軒家: "一軒家", 別荘: "別荘", タウンハウス: "タウンハウス" }, {prompt: true}, {class: 'rooms-select-control'} %>
            </div>

            <div class="rooms-room_type">
              <h5>部屋タイプは？</h5>
              <%= f.select :room_type, { まるまる貸切: "まるまる貸切", 個室: "個室", シェアルーム: "シェアルーム" }, {}, {class: 'rooms-select-control'} %>
            </div>

            <div class="rooms-guest_interraction">
              <h5>こちらはゲスト専用のお部屋ですか？</h5>
              <div class="rooms-radio-button">
                <%= f.radio_button :guest_interraction, "1" %>
                  <span>はい、主にゲスト専用のお部屋です</span>
              </div>
              <div class="rooms-radio-button">
                <%= f.radio_button :guest_interraction, "0" %>
                  <span>いいえ、こちらに私物も置いてます</span>
              </div>
            </div>

            <div class="main-panel-action-wrapper">
              <div class="main-panel-half-content clearfix">
                <div class="main-panel-half-spacce">
                  <div class="main-panel-half">
                    <%= link_to '← トップへ戻る', root_path, class: 'h5 rooms-back-font' %>
                    <%= link_to '次へ', bedrooms_path, method: :post, class: 'rooms-next-btn' %>
                   <!--  <%= f.submit '保存', class: 'rooms-save-btn' %> -->
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="helper-content">
        <div class="helper-content-list">
          <div class="card card-style rounded-0" style="width: 20rem;">
            <img class="card-img-top">
            <div class="card-body">
              <span class="fa fa-lightbulb-o fa-3x text-info" aria-hidden="true"></span><br>
              <p class="card-title">私物の有無</p>
              <p class="card-text text-muted">写真や衣類などのプライベートなものはゲストの目に触れる場所に出ていますか？ これも気になるポイント。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
