<head>
 <meta name="viewport" content="initial-scale=1.0">
 <style>
   /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
   /*#map {
     height: 100%;
   }*/
   /* Optional: Makes the sample page fill the window. */
   html, body {
     height: 100%;
     margin: 0;
     padding: 0;
   }
 </style>
</head>
<nav class="navbar navbar-white bg-white navbar-style">
  <button type="button" class="toppage-header-btn">
    <%= render partial: 'rooms/airbnb-icon' %>
  </button>
  <%= form_tag rooms_path, method: :get do %>
    <div class="input-group input-group-rooms-style resize">
      <div class="icon-search"></div>
      <%= text_field_tag :search, params[:search], placeholder:"お探しの近くのエリアを入力してください。地図が変わります。", class:"rooms-search", id:"autolocation"%>
    </div>
    <%= submit_tag "地図近辺の部屋を表示", class:"rooms-button" %>
  <% end %>
  <ul class="nav justify-content-end">
    <li class="nav-item nav-item-style">
      <%= link_to 'ルーム登録', "/rooms", method: :post %>
    </li>
    <li class="nav-item nav-item-style">
      <%= link_to 'ホストをはじめる', "/rooms/new" %>
    <li class="nav-item nav-item-style">
      <%= link_to 'アカウント作成', "/" %>
    </li>
    <% if user_signed_in? %>
    <li class="nav-item nav-item-style">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </li>
    <% else %>
    <li class="nav-item nav-item-style">
      <%= link_to "ログイン", new_user_session_path, class: 'post' %>
    </li>
    <% end %>
  </ul>
  <div class="option-wapper">
    <div class="search-option">
      <button class="op-btn" type="button" name="aaa" value="aaa">日付</button>
      <button class="op-btn" type="button" name="aaa" value="aaa">ゲスト</button>
      <button class="op-btn" type="button" name="aaa" value="aaa">住宅タイプ</button>
      <button class="op-btn" type="button" name="aaa" value="aaa">料金</button>
      <!-- <div id="slider-range"></div> -->
      <button class="op-btn" type="button" name="aaa" value="aaa">今すぐ予約</button>
      <button class="op-btn" type="button" name="aaa" value="aaa">フィルター</button>
    </div>
  </div>
</nav>

<div class="contents-wrapper">

  <%= render partial: "rooms/rooms_list", collection: @arrRooms, as: :location %>

</div>


  <div class="display-map" style="width: 440px; height: 100%" id="map">
  </div>
