<head>
 <meta name="viewport" content="initial-scale=1.0">
 <style>
   /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
   #map {
     height: 100%;
   }
   /* Optional: Makes the sample page fill the window. */
   html, body {
     height: 100%;
     margin: 0;
     padding: 0;
   }
 </style>
</head>
<nav class="navbar navbar-white bg-white navbar-style">
  <h1 class="text-danger font-weight-bold">Airbnb</h1>
  <%= form_for rooms_path, :url => {:controller => :rooms, :action => :index, :room_id => :id}, method: :get do %>
    <div class="input-group input-group-rooms-style resize">
      <div class="icon-search"></div>
      <!-- <input type="text" name="serach" class="rooms-search" placeholder="エリアを入力" id="autolocation"> -->
      <%= text_field_tag :search, params[:search], placeholder:"エリアを入力", class:"rooms-search", id:"autolocation"%>
      <span class="input-group-btn">
        <!-- <button class="btn btn-default btn-danger" type="submit" id="autolocation-btn">Search</button> -->
        <%= submit_tag "submit", class: "btn btn-default btn-danger" %>
      </span>
    </div>
  <% end %>
  <ul class="nav justify-content-end">
    <li class="nav-item nav-item-style">
      <%= link_to 'ルーム登録', "/rooms", method: :post %>
    </li>
    <li class="nav-item nav-item-style">
      <%= link_to 'ホストをはじめる', "/rooms/new" %>
    <li class="nav-item nav-item-style">
      <%= link_to 'アカウント作成', "/" %>
    </li>
    <% if user_signed_in? %>
    <li class="nav-item nav-item-style">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </li>
    <% else %>
    <li class="nav-item nav-item-style">
      <%= link_to "ログイン", new_user_session_path, class: 'post' %>
    </li>
    <% end %>
  </ul>
  <div class="option-wapper">
    <div class="search-option">
      <button class="op-btn" type="button" name="aaa" value="aaa">日付</button>
      <button class="op-btn" type="button" name="aaa" value="aaa">ゲスト</button>
      <button class="op-btn" type="button" name="aaa" value="aaa">住宅タイプ</button>
      <button class="op-btn" type="button" name="aaa" value="aaa">料金</button>
      <!-- <div id="slider-range"></div> -->
      <button class="op-btn" type="button" name="aaa" value="aaa">今すぐ予約</button>
      <button class="op-btn" type="button" name="aaa" value="aaa">フィルター</button>
    </div>
  </div>
</nav>

<!-- <div class="container container-style">
  <div class="row row-1 ">
    <div class="col-md-12">

      </div>
  </div> -->
  <div class="contents-wrapper">
    <div class="row row-5">
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%= asset_path "image0.jpeg" %>" alt="Card image ca">
          <!-- <i class="fa fa-heart-o" aria-hidden="true"></i> -->
          <div class="card-body">
            <p class="card-text font-weight-bold">宿泊先</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%= asset_path "image4.jpeg" %>" alt="Card image cp">
          <div class="card-body">
            <p class="card-text font-weight-bold">宿泊先</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%= asset_path "image5.jpeg" %>" alt="Card image">
          <div class="card-body">
            <p class="card-text font-weight-bold">宿泊先</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%= asset_path "image0.jpeg" %>" alt="Card image cap">
          <div class="card-body">
            <p class="card-text font-weight-bold">宿泊先</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%= asset_path "image4.jpeg" %>" alt="Card image cap">
          <div class="card-body">
            <p class="card-text font-weight-bold">宿泊先</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%= asset_path "image5.jpeg" %>" alt="Card image cap">
          <div class="card-body">
            <p class="card-text font-weight-bold">宿泊先</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%= asset_path "image0.jpeg" %>" alt="Card image cap">
          <div class="card-body">
            <p class="card-text font-weight-bold">宿泊先</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%= asset_path "image4.jpeg" %>" alt="Card image cap">
          <div class="card-body">
            <p class="card-text font-weight-bold">宿泊先</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%= asset_path "image5.jpeg" %>" alt="Card image cap">
          <div class="card-body">
            <p class="card-text font-weight-bold">宿泊先</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%= asset_path "image0.jpeg" %>" alt="Card image cap">
          <div class="card-body">
            <p class="card-text font-weight-bold">宿泊先</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%= asset_path "image4.jpeg" %>" alt="Card image cap">
          <div class="card-body">
            <p class="card-text font-weight-bold">宿泊先</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%= asset_path "image5.jpeg" %>" alt="Card image cap">
          <div class="card-body">
            <p class="card-text font-weight-bold">宿泊先</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%= asset_path "image0.jpeg" %>" alt="Card image cap">
          <div class="card-body">
            <p class="card-text font-weight-bold">宿泊先</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%= asset_path "image4.jpeg" %>" alt="Card image cap">
          <div class="card-body">
            <p class="card-text font-weight-bold">宿泊先</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%= asset_path "image5.jpeg" %>" alt="Card image cap">
          <div class="card-body">
            <p class="card-text font-weight-bold">宿泊先</p>
          </div>
        </div>
      </div>
    </div>
</div>
<%# @rooms.each do |room| %>
<%# end %>
<div id="map" style="width: 100%; height: 100%"></div>

<!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
<script>
    function initialize() {
      var location = {lat: 44.5403, lng: -78.5463}

      var map = new google.maps.Mal(document.getElementById('map'), {
        center: location,
        zoom: 12
      })
    }

    google.maps.event.addDomListerner(window, 'load', initialize);
</script>
<!-- <div class = "row row-4 map_size">
   <div class = "col-sm"></div>
   <div class = "col-sm"></div>
   <div id="map" class ="col-sm-3"></div>
 </div> -->
<script>
  // var map;
  // function initMap() {
  //   map = new google.maps.Map(document.getElementById('map'), {
  //     center: {lat: -34.397, lng: 150.644},
  //     zoom: 8
  //   });
  // }


  $(function() {
    $("#autolocation").geocomplete;

  })


$("#autolocation").geocomplete();
// Trigger geocoding request.
$("#autolocation").click(function(){
  $("#autolocation-btn").trigger("geocode");
});


</script>

<script>
  $(function() {
    $("#q_price_gteq").val('100');
    $("#q_price_lteq").val('500');

    $("#slider-range").slider({
      range: true,
      min: 0,
      max: 1000
      values: [100, 500],
      slide: function(event, ui) {
        $("#q_price_gteq").val(ui.values[0]);
        $("#q_price_lteq").val(ui.values[1]);
      }
    });


  })
</script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqv7XMOZuqELHb0OO5ojSqB9RiC5iQbRY&libraries=places"
async defer></script> -->
