<!doctype html>
<html>
  <head>
    <title>部屋、家、アパートをAirbnbで貸し出そう (2017)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <header class="header">
    <nav class="navbar fixed-top navbar-white bg-white navbar-style">
      <%= render partial: 'rooms/airbnb-icon' %>
      <h1 class="text-danger font-weight-bold"></h1>
      <ul class="nav justify-content-end">
        <li class="nav-item nav-item-style">
          <%= link_to 'お気に入り', "/favorites" %>
        </li>
        <li class="nav-item nav-item-style">
          <%= link_to '旅行', "/" %>
        </li>
        <li class="nav-item nav-item-style">
          <%= link_to 'メッセージ', "/" %>
        </li>
        <li class="nav-item nav-item-style">
          <%= link_to 'プロフィールを編集', "/users/:id/edit", method: :get %>
        </li>
        <li class="nav-item nav-item-style">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </nav>
  </header>

  <body>
    <div class="row row-1">
      <div class="col-md-12">
        <div class="jumbotron">
          <div class="container">
            <h1>空き部屋で世界をつなごう</h1>
            AIRBNBでホスト
          </div>
        </div>
      </div>
    </div>

      <div class="rooms-advertise">
        <div class="row">
          <div class="col-sm-4">
          <h2 class="font-weight-bold">なぜAirbnbでホスト？</h2>
          <p>どんなお家やお部屋でも、Airbnbに登録すれば簡単かつ安全な方法で収益を得ることができます。世界の何百万人もの旅行者が、あなたのお家のようなユニークなお部屋を探しています。</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
          <h2 class="font-weight-bold">決めるのは自分</h2>
          <p>Airbnbでは予約可能日から料金、ハウスルール、ゲストとの交流頻度まで、すべて自分で決めることができます。チェックインの時間帯と入室方法もお好みで選べます。</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
          <h2 class="font-weight-bold">一貫サポート</h2>
          <p>便利なツール、おもてなしのヒント、24時間365日のサポートも完備。オンラインコミュニティでは先輩に質問したり、成功のコツを教え合ったりできます。</p>
          </div>
        </div>
      </div>

      <div class="rooms-box">
        <div style="margin-bottom:24px" class="bigtitle">
          <h1 class="title">
            <span>Airbnbホストになる方法</span>
          </h1>
        </div>
        <div class="listing">
          <span></span>
          <div class="number">1</div>
          <div class="listing1">
            <div class="listing2">
              <div class="listing3">
                <span>リスティングを作成</span>
              </div>
            </div>
            <div>
              <div style="margin-bottom:16px">
                <div class="col-sm-6">
                  <span>Airbnbのリスティング作成は簡単&無料です。お部屋の説明を書いて、泊められる人数を選び、写真と詳細を加えるだけでおしまい。</span>
                </div>
              </div>
            </div>
            <div>
              <div style="margin-bottom:16px">
                <div class="col-sm-6">
                  <span>料金設定では競争力ある推奨料金が表示されますが、料金を決めるのは常にホストです。</span>
                </div>
              </div>
            </div>
          </div>
          <div class="rooms-guest">
            <span>
              <div>
                <img class="image0" src="assets/listing.jpg" style="width: 20rem;">
              </div>
            </span>
          <div class="number">2</div>
          <div class="guest1">
            <div class="guest2">
              <div class="listing3">
                <span>ゲストがきます!</span>
              </div>
            </div>
            <div>
              <div style="margin-bottom:16px">
                <div class="col-sm-6">
                  <span>ゲストとは到着前にAirbnb経由でメッセージ交換し、詳しく知ることができます。</span>
                </div>
              </div>
            </div>
            <div>
              <div style="margin-bottom:16px">
                <div class="col-sm-6">
                  <span>ほとんどのホストはゲスト用の室内を清掃し、清潔なシーツとタオル、トイレットペーパーなどの必需品をご用意しています。</span>
                </div>
              </div>
            </div>
            <div>
              <div style="margin-bottom:16px">
                <div class="col-sm-6">
                  <span>鍵の受け渡しは当日直接手渡しでも、暗証番号を送るだけでもOKです。</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="charge">
          <span>
            <div>
              <img class="image0" src="assets/guest.jpg" style="width: 20rem;">
            </div>
          </span>
          <div class="number">3</div>
          <div class="charge1">
            <div class="charge2">
              <div class="listing3">
                <span>料金の受け取り</span>
              </div>
            </div>
            <div>
              <div style="margin-bottom:16px">
                <div class="col-sm-6">
                  <span>Airbnbの料金はセキュアな支払いシステムで自動処理です。お金のことには一切触れなくて済みます。</span>
                </div>
              </div>
            </div>
            <div>
              <div style="margin-bottom:16px">
                <div class="col-sm-6">
                  <span>ゲストは到着前に料金を支払済みです。ホストにはそこから3%のサービス料を差し引いた金額がチェックイン後、自動送金されます。</span>
                </div>
              </div>
            </div>
            <div>
              <div style="margin-bottom:16px">
                <div class="col-sm-6">
                  <span>料金はPayPal、直接振込、国際送金など、さまざまな方法で受け取ることができます。</span>
                </div>
              </div>
            </div>
            <span>
              <div>
                <img class="image0" src="assets/charge.jpg" style="width: 20rem;">
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-2">
      <div class="col-md-12">
        <div class="rooms-jumbotron">
          <div class="container1">
            <h1>ホスト登録はこちらから</h1>
            <%= button_tag type: 'button', onclick: "link_to('#{new_room_path(current_user)}')", class:'rooms-button1' do %>
              <span class="button2">始める</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
