<!doctype html>
<html>
  <head>
    <title>部屋、家、アパートをAirbnbで貸し出そう</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" >
  </head>

  <%= render partial: 'shared/header' %>
  <body>
    <div class="jumbotron showpage-room-photo">
      <%= image_tag @room.photos.first.image, height: '100%', width: '100%'  %>
      <div class="showpage-room-photo-btn">
        <%= render partial: 'rooms/photo_modal' %>
      </div>
       <span id="showpage-favorite-icon<%= @room.id %>">
        <%= render partial: 'favorites/roomshow_favorite', locals: { room: @room, favorites: @favorites }  %>
      </span>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="room-nav-space">
            <a href="#0" style="text-decoration:none; color:#484848; font-weight:bold;">概要</a> ・ <a href="#1" style="text-decoration:none; color:#008489;">アメニティ・設備</a> ・ <a href="#2" style="text-decoration:none; color:#008489;">ハウスルール</a> ・ <a href="#3" style="text-decoration:none; color:#008489;">所在地</a>
          </div>
          <div class="room-overview-space">
            <div class="room-overview-title">
              <%= @room.explanatories.first.title %>
            </div>
            <div class="room-overview-form">
              <%= @room.home_type %>・<%= @room.room_type%>・<%= @room.locations.first.prefecture %><%= @room.locations.first.city %>
            </div>
            <div class="room-overview-amenity">
              <i class="fa fa-users room-show-icon-space">
                ゲスト<%= @room.bedrooms.first.capacity_count %>人
              </i>
              <i class="fa fa-bed room-show-icon-space">
                <%= @room.bedrooms.first.rooms_count %>寝室・ベッド<%= @room.bedrooms.first.beds_count %>台
              </i>
              <i class="fa fa-bath room-show-icon-space">
                バスルーム<%= @room.bathrooms.first.bathrooms_count %>
              </i>
            </div>
            <div class="room-overview-explanatory">
              <div id="0", class="room-explanatory-text"><%= @room.explanatories.first.overview %></div>
              <div class="room-show-overview fa fa-angle-double-down">このお部屋の続きを読む</div>
              <div class="room-explanatory-area">
                <span class="room-explanatory-font-style">スペース</span>
                  <p class="room-explanatory-text"><%= @room.explanatories.first.space %></p>
                <span class="room-explanatory-font-style">ゲストの立ち入り範囲</span>
                  <p class="room-explanatory-text"><%= @room.explanatories.first.guest_access %></p>
                <span class="room-explanatory-font-style">ゲストとの交流</span>
                  <p class="room-explanatory-text"><%= @room.explanatories.first.guest_interraction %></p>
                <span class="room-explanatory-font-style">その他の特記事項</span>
                  <p class="room-explanatory-text"><%= @room.explanatories.first.other_things_to_note %></p>
                <div class="room-show-overview-hidden fa fa-angle-double-up">隠す</div>
                <div class="room-show-host-access">ホストに連絡</div>
              </div>
            </div>
          </div>
          <div class="room-amenity-content">
            <div id="1", class="room-amenity-title">アメニティ・設備</div>
            <div class="room-show-amenity-display fa fa-angle-double-down">すべて表示する</div>
              <% if @room.amenities.first.cable_tv == true %>
                <p class="fa fa-television room-amenity-font-style">ケーブルテレビ</p>
              <% else %>
                <p class="fa fa-television room-amenity-font-style"><s>ケーブルテレビ</s></p>
              <% end %>
              <% if @room.amenities.first.air_conditioning == true %>
                <p class="room-amenity-font-style">エアコン</p>
              <% else %>
                <p class="room-amenity-font-style"><s>エアコン</s></p>
              <% end %>
              <% if @room.amenities.first.wireless_internet == true %>
                <p class="fa fa-wifi room-amenity-font-style">ワイヤレスインターネット</p>
              <% else %>
                <p class="fa fa-wifi room-amenity-font-style"><s>ワイヤレスインターネット</s></p>
              <% end %>
              <div class="room-amenity-area">
                <% if @room.amenities.first.kitchen == true %>
                  <p class="room-amenity-font-style">キッチン</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>キッチン</s></p>
                <% end %>
                <% if @room.amenities.first.elevator == true %>
                  <p class="room-amenity-font-style">エレベーター</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>エレベーター</s></p>
                <% end %>
                <% if @room.amenities.first.gym == true %>
                  <p class="room-amenity-font-style">ジム</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>ジム</s></p>
                <% end %>
                 <% if @room.amenities.first.doorman == true %>
                  <p class="room-amenity-font-style">ドアマン</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>ドアマン</s></p>
                <% end %>
                <% if @room.amenities.first.breakfast == true %>
                  <p class="room-amenity-font-style">朝食</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>朝食</s></p>
                <% end %>
                <% if @room.amenities.first.suitable_for_events == true %>
                  <p class="room-amenity-font-style">イベントに最適</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>イベントに最適</s></p>
                <% end %>
                <% if @room.amenities.first.free_parking == true %>
                  <p class="room-amenity-font-style">専用駐車場</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>専用駐車場</s></p>
                <% end %>
                <% if @room.amenities.first.wheelchair_accessible == true %>
                  <p class="room-amenity-font-style">車椅子可</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>車椅子可</s></p>
                <% end %>
                <% if @room.amenities.first.hot_tub == true %>
                  <p class="room-amenity-font-style">ジャグジー</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>ジャグジー</s></p>
                <% end %>
                <% if @room.amenities.first.baby_bath == true %>
                  <p class="room-amenity-font-style">ベビーバス</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>ベビーバス</s></p>
                <% end %>
                <% if @room.amenities.first.baby_monitor == true %>
                  <p class="room-amenity-font-style">ベビーモニター</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>ベビーモニター</s></p>
                <% end %>
                <% if @room.amenities.first.babysitter == true %>
                  <p class="room-amenity-font-style">ベビーシッター</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>ベビーシッター</s></p>
                <% end %>
                <% if @room.amenities.first.bathtub == true %>
                  <p class="room-amenity-font-style">バスタブ</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>バスタブ</s></p>
                <% end %>
                <% if @room.amenities.first.changing_table == true %>
                  <p class="room-amenity-font-style">おむつ交換台</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>おむつ交換台</s></p>
                <% end %>
                <% if @room.amenities.first.childrend_books_and_toys == true %>
                  <p class="room-amenity-font-style">絵本＆おもちゃ</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>絵本＆おもちゃ</s></p>
                <% end %>
                <% if @room.amenities.first.childrens_dinnerware == true %>
                  <p class="room-amenity-font-style">子供用まえかけ</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>子供用まえかけ</s></p>
                <% end %>
                <% if @room.amenities.first.crib == true %>
                  <p class="room-amenity-font-style">ベビーベッド</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>ベビーベッド</s></p>
                <% end %>
                <div class="room-show-amenity-hidden fa fa-angle-double-up">隠す</div>
              </div>
            </div>
          <div class="room-rule-content">
            <div id="2", class="room-rule-title">ハウスルール</div>
            <% if @room.rules.first.children_for_2_12 == true %>
              <p class="room-rule-font">子ども（２- １２歳）OK</p>
            <% end %>
            <% if @room.rules.first.for_infants_under_2 == true %>
              <p class="room-rule-font">乳幼児（２歳未満）OK</p>
            <% end %>
            <% if @room.rules.first.for_pets == true %>
              <p class="room-rule-font">ペットOK</p>
            <% end %>
            <% if @room.rules.first.smoking == true %>
              <p class="room-rule-font">喫煙OK</p>
            <% end %>
            <% if @room.rules.first.parties == true %>
              <p class="room-rule-font">イベント＆パーティOK</p>
            <% end %>
            <% if @room.rules.first.stairs == true %>
              <p class="room-rule-font">階段を登らないとたどり着けません</p>
            <% end %>
            <% if @room.rules.first.noises == true %>
              <p class="room-rule-font">騒音の可能性あり</p>
            <% end %>
            <% if @room.rules.first.pets == true %>
              <p class="room-rule-font">ペットがいます</p>
            <% end %>
            <% if @room.rules.first.spaces == true %>
              <p class="room-rule-font">共用スペースあり</p>
            <% end %>
            <% if @room.rules.first.minimum_amenities == true %>
              <p class="room-rule-font">一部アメニティは最低限のものです（例：ネットが遅い）</p>
            <% end %>
          </div>
        </div>
        <div class="col-md-6 room-showpage-reservation-col">
          <div class="room-showpage-reservation">
            <div class="room-showpage-reserve-space">
              <span class="room-showpage-price">
                ¥<%= number_to_currency(@room.prices.first.basic_charge) %> /泊
              </span>
            </div>
            <%= form_for(@reservation, url: { controller: :reservations, action: :coming, room_id: :id }) do |f| %>
            <%= f.label :check_in, "チェックイン", class: 'room-showpage-checkin' %>
            <%= f.date_field :check_in, class: 'DateInput__input room-showpage-input' %>
            <%= f.label :check_out, "チェックアウト", class: 'room-showpage-checkout' %>
            <%= f.date_field :check_out, class: 'DateInput__input room-showpage-input' %>
            <%= f.label :guest_count, "ゲスト", class: 'room-showpage-guest' %>
            <%= f.select :guest_count, [["ゲスト1人", "1"],["ゲスト2人","2"],["ゲスト3人","3"],["ゲスト4人","4"]], {}, class: 'room-showpage-select-guest' %>
            <%= f.submit "予約する", class: "room-showpage-reserve-btn"%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="3", class="room-location-title">エリア</div>
        <div class="room-showppage-location-font"><%= @room.user.name %>さん宅の所在地は<%= @room.locations.first.prefecture %><%= @room.locations.first.city %>です</div>
          <div class="room-location">
            <iframe class="room-showpage-locationmap" , src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCKb6VZsMpwGrlBuuv8J6pSrXKHAZTw5-k&q=Space+Needle,Seattle+WA">
            </iframe>
            <div class="room-showppage-location-font">詳しい住所はご予約後にお知らせします。</div>
          </div>
        </div>
        
        <%= form_for(@reservation, :url => {:controller => :reservations, :action => :coming}) do |f| %>
        <%= f.label :check_in, "チェックイン", class: 'message-new-left1' %>
        <%= f.date_field :check_in, class: 'DateInput__input needsclick' %>
        <%= f.label :check_out, "チェックアウト", class: 'message-new-left1' %>
        <%= f.date_field :check_out, class: 'DateInput__input needsclick' %>
        <%= f.label :guest_count, "ゲスト", class: 'message-new-left1' %>
        <%= f.select :guest_count, [["ゲスト1人", "1"],["ゲスト2人","2"],["ゲスト3人","3"],["ゲスト4人","4"]], {}, :class => 'messages-guest-select' %>
        <%= f.hidden_field :room_id, class: 'show_pass_roomid', :value => params[:id] %>
        <%= f.submit "予約する", class: "reserve1"%>
        <% end %>

        <!-- <%= form_for('/messages/new/', method: :get) do %>
          <div class="contents row">
            <div class="booking-parent">
              <div class="booking">
                <div>
                  <label class="booking_date">
                    <small class="date_book">
                      <span>日付</span>
                    </small>
                  </label>
                  <div class="DatePickerContainer">
                    <div class="DateRangePicker">
                        <div class="DateRangePickerInput">
                          <div class="DateInput DateInput--open-down">
                            <input type="text" aria-label="チェックイン" class="DateInput__input needsclick" id="datepicker" name="checkin" value="" placeholder="チェックイン" autocomplete="off" aria-describedby="DateInput__screen-reader-message-checkin">
                            <p id="DateInput__screen-reader-message-checkin" class="screen-reader-only">
                            </p>
                            <div class="DateInput__display-text"></div>
                          </div>
                          <div class="DateInput DateInput--open-down">
                            <input type="text" aria-label="チェックアウト" class="DateInput__input needsclick" id="datepicker1" name="checkout" value="" placeholder="チェックアウト" autocomplete="off" aria-describedby="DateInput__screen-reader-message-checkout">
                            <p id="DateInput__screen-reader-message-checkout" class="screen-reader-only">
                            </p>
                            <div class="DateInput__display-text"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="guest-parent">
                <div class="guest">
                  <div>
                    <label class="guest_number">
                      <small class="guest_count">
                        <span>ゲスト</span>
                      </small>
                    </label>
                    <div class="GuestPickerContainer">
                      <div class="GuestRangePicker">
                        <div>
                          <div class="GuestRangePickerInput">
                            <div class="GuestInput GuestInput--open-down">
                              <input type="text" aria-label="ゲスト１人" class="DateInput__input" id="guestnum" name="guestcount" value="" placeholder="ゲスト１人" autocomplete="off" aria-describedby="GuestInput__screen-reader-message-checkin">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="reserve">
                <button type="submit" class="reserve1" aria-busy="false" data-veloute="book-it-button">
                  <span class="reserve2">
                    <span>予約する</span>
                  </span>
                </button>
                <div class="account">
                  <div class="account1">
                    <small class="account2">
                      <span>まだ請求は発生しません</span>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          <% end %> -->






  </div>
</div>
</div>
</div>


<footer class="footer-show">
  <div class="footer-content">
    <div class="footer-role">
      <div class="select-content">
        <div class="dropdown">
          <button class="btn btn-lg dropdown-toggle laguage-style rounded-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">日本語</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">English</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-lg dropdown-toggle money-style rounded-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">日本円</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">米ドル</a>
          </div>
        </div>
      </div>
      <div class="intoroduction-content1">
        <div class=" p p-style0">Airbnb<br>
          <br>
          <a>会社情報</a><br>
          <a>採用情報</a><br>
          <a>プレス</a><br>
          <a>ポリシー</a><br>
          <a>ヘルプ</a><br>
          <a>ダイバーシティ＆ビロンギング</a><br>
        </div>
      </div>
      <div class="intoroduction-content2">
        <div class="p p-style0">スタッフのおすすめ<br>
          <br>
          <a>信頼＆安全</a><br>
          <a>旅行クーポン</a><br>
          <a>Airbnb Citizen</a><br>
          <a>出張</a><br>
          <a>ガイドブック</a><br>
          <a>Airbnbmag </a><br>
        </div>
      </div>
      <div class="intoroduction-content3">
        <div class="p p-style0">ホスティング<br>
          <br>
          <a>ホストになる理由</a><br>
          <a>ホストに招待</a><br>
          <a>おもてなしの心</a><br>
          <a>ホストの責任</a><br>
          <a>コミュニティセンター</a><br>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="copyright-left">@Airbnb_Team</div>
      <div class="copyright-right">
        <a>利用規約</a>
        <a>プライバシー</a>
        <a>サイトマップ</a>
        <i class="fa fa-facebook icon-style1" aria-hidden="true"></i>
        <i class="fa fa-twitter icon-style1" aria-hidden="true"></i>
        <i class="fa fa-instagram icon-style1" aria-hidden="true"></i>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
  </body>
  <%= render partial: 'shared/footer' %>
</html>
