<!doctype html>
<html>
  <head>
    <title>部屋、家、アパートをAirbnbで貸し出そう</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_include_tag "display.js" %>
    <%= javascript_include_tag "room_show.js" %>
  </head>

  <%= render partial: 'shared/header' %>
  <body>
    <div class="jumbotron showpage-room-photo">
      <%= image_tag @room.photos.first.image, height: '100%', width: '100%'  %>
      <div class="showpage-room-photo-btn">
        <%= render partial: 'rooms/photo_modal' %>
      </div>
       <span id="showpage-favorite-icon<%= @room.id %>">
        <%= render partial: 'favorites/roomshow_favorite', locals: { room: @room, favorites: @favorites }  %>
      </span>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="room-nav-space">
            <a href="#0" style="text-decoration:none; color:#484848; font-weight:bold;">概要</a> ・ <a href="#1" style="text-decoration:none; color:#008489;">アメニティ・設備</a> ・ <a href="#2" style="text-decoration:none; color:#008489;">ハウスルール</a> ・ <a href="#3" style="text-decoration:none; color:#008489;">所在地</a>
          </div>
          <div class="room-overview-space">
            <div class="room-overview-title">
              <%= @room.explanatories.first.title %>
            </div>
            <div class="room-overview-form">
              <%= @room.home_type %>・<%= @room.room_type%>・<%= @room.locations.first.prefecture %><%= @room.locations.first.city %>
            </div>
            <div class="room-overview-amenity">
              <i class="fa fa-users room-show-icon-space">
                ゲスト<%= @room.bedrooms.first.capacity_count %>人
              </i>
              <i class="fa fa-bed room-show-icon-space">
                <%= @room.bedrooms.first.rooms_count %>寝室・ベッド<%= @room.bedrooms.first.beds_count %>台
              </i>
              <i class="fa fa-bath room-show-icon-space">
                バスルーム<%= @room.bathrooms.first.bathrooms_count %>
              </i>
            </div>
            <div class="room-overview-explanatory">
              <div id="0", class="room-explanatory-text"><%= @room.explanatories.first.overview %></div>
              <div class="room-show-overview fa fa-angle-double-down">このお部屋の続きを読む</div>
              <div class="room-explanatory-area">
                <span class="room-explanatory-font-style">スペース</span>
                  <p class="room-explanatory-text"><%= @room.explanatories.first.space %></p>
                <span class="room-explanatory-font-style">ゲストの立ち入り範囲</span>
                  <p class="room-explanatory-text"><%= @room.explanatories.first.guest_access %></p>
                <span class="room-explanatory-font-style">ゲストとの交流</span>
                  <p class="room-explanatory-text"><%= @room.explanatories.first.guest_interraction %></p>
                <span class="room-explanatory-font-style">その他の特記事項</span>
                  <p class="room-explanatory-text"><%= @room.explanatories.first.other_things_to_note %></p>
                <div class="room-show-overview-hidden fa fa-angle-double-up">隠す</div>
                <div class="room-show-host-access">ホストに連絡</div>
              </div>
            </div>
          </div>
          <div class="room-amenity-content">
            <div id="1", class="room-amenity-title">アメニティ・設備</div>
            <div class="room-show-amenity-display fa fa-angle-double-down">すべて表示する</div>
              <% if @room.amenities.first.cable_tv == true %>
                <p class="fa fa-television room-amenity-font-style">ケーブルテレビ</p>
              <% else %>
                <p class="fa fa-television room-amenity-font-style"><s>ケーブルテレビ</s></p>
              <% end %>
              <% if @room.amenities.first.air_conditioning == true %>
                <p class="room-amenity-font-style">エアコン</p>
              <% else %>
                <p class="room-amenity-font-style"><s>エアコン</s></p>
              <% end %>
              <% if @room.amenities.first.wireless_internet == true %>
                <p class="fa fa-wifi room-amenity-font-style">ワイヤレスインターネット</p>
              <% else %>
                <p class="fa fa-wifi room-amenity-font-style"><s>ワイヤレスインターネット</s></p>
              <% end %>
              <div class="room-amenity-area">
                <% if @room.amenities.first.kitchen == true %>
                  <p class="room-amenity-font-style">キッチン</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>キッチン</s></p>
                <% end %>
                <% if @room.amenities.first.elevator == true %>
                  <p class="room-amenity-font-style">エレベーター</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>エレベーター</s></p>
                <% end %>
                <% if @room.amenities.first.gym == true %>
                  <p class="room-amenity-font-style">ジム</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>ジム</s></p>
                <% end %>
                 <% if @room.amenities.first.doorman == true %>
                  <p class="room-amenity-font-style">ドアマン</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>ドアマン</s></p>
                <% end %>
                <% if @room.amenities.first.breakfast == true %>
                  <p class="room-amenity-font-style">朝食</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>朝食</s></p>
                <% end %>
                <% if @room.amenities.first.suitable_for_events == true %>
                  <p class="room-amenity-font-style">イベントに最適</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>イベントに最適</s></p>
                <% end %>
                <% if @room.amenities.first.free_parking == true %>
                  <p class="room-amenity-font-style">専用駐車場</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>専用駐車場</s></p>
                <% end %>
                <% if @room.amenities.first.wheelchair_accessible == true %>
                  <p class="room-amenity-font-style">車椅子可</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>車椅子可</s></p>
                <% end %>
                <% if @room.amenities.first.hot_tub == true %>
                  <p class="room-amenity-font-style">ジャグジー</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>ジャグジー</s></p>
                <% end %>
                <% if @room.amenities.first.baby_bath == true %>
                  <p class="room-amenity-font-style">ベビーバス</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>ベビーバス</s></p>
                <% end %>
                <% if @room.amenities.first.baby_monitor == true %>
                  <p class="room-amenity-font-style">ベビーモニター</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>ベビーモニター</s></p>
                <% end %>
                <% if @room.amenities.first.babysitter == true %>
                  <p class="room-amenity-font-style">ベビーシッター</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>ベビーシッター</s></p>
                <% end %>
                <% if @room.amenities.first.bathtub == true %>
                  <p class="room-amenity-font-style">バスタブ</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>バスタブ</s></p>
                <% end %>
                <% if @room.amenities.first.changing_table == true %>
                  <p class="room-amenity-font-style">おむつ交換台</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>おむつ交換台</s></p>
                <% end %>
                <% if @room.amenities.first.childrend_books_and_toys == true %>
                  <p class="room-amenity-font-style">絵本＆おもちゃ</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>絵本＆おもちゃ</s></p>
                <% end %>
                <% if @room.amenities.first.childrens_dinnerware == true %>
                  <p class="room-amenity-font-style">子供用まえかけ</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>子供用まえかけ</s></p>
                <% end %>
                <% if @room.amenities.first.crib == true %>
                  <p class="room-amenity-font-style">ベビーベッド</p>
                <% else %>
                  <p class="room-amenity-font-style"><s>ベビーベッド</s></p>
                <% end %>
                <div class="room-show-amenity-hidden fa fa-angle-double-up">隠す</div>
              </div>
            </div>
          <div class="room-rule-content">
            <div id="2", class="room-rule-title">ハウスルール</div>
            <% if @room.rules.first.children_for_2_12 == true %>
              <p class="room-rule-font">子ども（２- １２歳）OK</p>
            <% end %>
            <% if @room.rules.first.for_infants_under_2 == true %>
              <p class="room-rule-font">乳幼児（２歳未満）OK</p>
            <% end %>
            <% if @room.rules.first.for_pets == true %>
              <p class="room-rule-font">ペットOK</p>
            <% end %>
            <% if @room.rules.first.smoking == true %>
              <p class="room-rule-font">喫煙OK</p>
            <% end %>
            <% if @room.rules.first.parties == true %>
              <p class="room-rule-font">イベント＆パーティOK</p>
            <% end %>
            <% if @room.rules.first.stairs == true %>
              <p class="room-rule-font">階段を登らないとたどり着けません</p>
            <% end %>
            <% if @room.rules.first.noises == true %>
              <p class="room-rule-font">騒音の可能性あり</p>
            <% end %>
            <% if @room.rules.first.pets == true %>
              <p class="room-rule-font">ペットがいます</p>
            <% end %>
            <% if @room.rules.first.spaces == true %>
              <p class="room-rule-font">共用スペースあり</p>
            <% end %>
            <% if @room.rules.first.minimum_amenities == true %>
              <p class="room-rule-font">一部アメニティは最低限のものです（例：ネットが遅い）</p>
            <% end %>
          </div>
        </div>
        <div class="col-md-6 room-showpage-reservation-col">
          <div class="room-showpage-reservation">
            <div class="room-showpage-reserve-space">
              <span class="room-showpage-price">
                ¥<%= number_to_currency(@room.prices.first.basic_charge) %> /泊
              </span>
            </div>
            <%= form_for(@reservation, url: { controller: :reservations, action: :coming }) do |f| %>
            <%= f.label :check_in, "チェックイン", class: 'room-showpage-checkin' %>
            <%= f.date_field :check_in, class: 'DateInput__input room-showpage-input' %>
            <%= f.label :check_out, "チェックアウト", class: 'room-showpage-checkout' %>
            <%= f.date_field :check_out, class: 'DateInput__input room-showpage-input' %>
            <%= f.label :guest_count, "ゲスト", class: 'room-showpage-guest' %>
            <%= f.select :guest_count, [["ゲスト1人", "1"],["ゲスト2人","2"],["ゲスト3人","3"],["ゲスト4人","4"]], {}, class: 'room-showpage-select-guest' %>
            <%= f.hidden_field :room_id, class: "show_pass_roomid", :value => params[:id] %>
            <%= f.submit "予約する", class: "room-showpage-reserve-btn"%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="3", class="room-location-title">エリア</div>
        <div class="room-showppage-location-font"><%= @room.user.name %>さん宅の所在地は<%= @room.locations.first.prefecture %><%= @room.locations.first.city %>です</div>
          <div class="room-location", id="map">
            <div id="mapa" style="width:800px; height:500px; margin-bottom:50px;"></div>
             <div class="room-showppage-location-font">詳しい住所はご予約後にお知らせします。</div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var mapa;
      function initMap() {
        mapa = new google.maps.Map(document.getElementById('mapa'), {
          center: {lat: gon.latitude, lng: gon.longitude},
          zoom: 15
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBni7w26AcUziUF-q9RO0NxsvB9OldANiQ&callback=initMap"
    async defer></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
  </body>
  <%= render partial: 'shared/footer' %>
</html>
