<!doctype html>
<html>
  <head>
    <title>Airbnb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>

  <header class="header">
    <nav class="navbar toppage-navbar">
      <div class="toppage-icon">
        <%= render partial: 'rooms/airbnb-icon' %>
      </div>
      <%= form_tag search_rooms_path, method: :get do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:keyword], class: 'toppage-serach-field', placeholder: '「シアトル」などエリアを入力', id: "autolocation2" %>
        </div>
      <% end %>
    </div>
    <div class="toppage-header-right">
      <% if user_signed_in? && current_user.rooms %>
        <%= button_tag type: 'button', onclick: "link_to('#{edit_room_path(current_user.rooms)}')", class:'toppage-become-host-btn' do %>
          <span>ホスト</span>
        <% end %>
        <div class="toppage-header-content">
          <%= link_to 'アカウント作成', "/", style: "color:#484848;"%>
        </div>
        <%= button_tag type: 'button', onclick: "link_to('#{root_path(current_user)}')", class:'toppage-become-message-btn' do %>
          <span>メッセージ</span>
        <% end %>
        <div class="toppage-header-content">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, style: "color:#484848;" %>
        </div>
        <%= link_to("/users/#{current_user.id}/edit") do %>
          <div class="toppage-header-content">
            <div class="toppage-avator">
              <img alt="" height="28" src="https://a0.muscache.com/defaults/user_pic-50x50.png?v=3" width="28">
            </div>
          </div>
        <% end %>
      <% elsif user_signed_in? %>
        <%= button_tag type: 'button', onclick: "link_to('#{introduce_rooms_path(current_user)}')", class:'toppage-become-host-btn' do %>
          <span>ホストをはじめる</span>
        <% end %>
        <div class="toppage-header-content">
          <%= link_to 'アカウント作成', "/", style: "color:#484848;"%>
        </div>
        <%= button_tag type: 'button', onclick: "link_to('#{group_message_path(current_user)}')", class:'toppage-become-message-btn' do %>
          <span>メッセージ</span>
        <% end %>
        <div class="toppage-header-content">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, style: "color:#484848;" %>
        </div>
        <%= link_to("/users/#{current_user.id}/edit") do %>
          <div class="toppage-header-content">
            <div class="toppage-avator">
              <img alt="" height="28" src="https://a0.muscache.com/defaults/user_pic-50x50.png?v=3" width="28">
            </div>
          </div>
        <% end %>
        </div>
      <% else %>
        <div class="toppage-header-content">
          <%= button_tag type: 'button', onclick: "link_to('#{introduce_rooms_path(current_user)}')", class:'toppage-become-host-btn' do %>
            <span>ホストをはじめる</span>
          <% end %>
        <div class="toppage-header-content">
          <%= link_to 'アカウント作成', "introduce_rooms_path", style: "color:#484848;" %>
        </div>
        <div class="toppage-header-content">
          <%= link_to "ログイン", new_user_session_path, method: :post, style: "color:#484848;" %>
        </div>
      <% end %>
    </div>
  </header>

   <body>
    <div class="toppage-main-content">
      <div class="toppage-container">
        <div class="toppage-title">Airbnbで探す</div>
        <div class="row">
          <div class="col-md-3">
            <div class="toppage-room-search">
              <%= button_tag type: 'button', onclick: "link_to('#{rooms_path(current_user)}')", class:'toppage-serach-btn' do %>
                <%= image_tag('home.jpg', height: '72px', width: '96px', class:'toppage-image') %>
                <span class="toppage-room-search-title">宿泊先</span>
              <% end %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="toppage-experience">
              <%= button_tag :type, class:'toppage-serach-btn' do %>
                <%= image_tag('experience.jpg', height: '72px', width: '96px', class:'toppage-image') %>
                <span class="toppage-room-search-title">体験</span>
              <% end %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="toppage-restaurant">
              <%= button_tag :type, class:'toppage-serach-btn' do %>
                <%= image_tag('restaurant.jpg', height: '72px', width: '96px', class:'toppage-image') %>
                <span class="toppage-room-search-title">レストラン</span>
              <% end %>
            </div>
          </div>
        </div>

        <div class="toppage-title-content">
          <span class="toppage-room-title">お住いの国の宿泊先</span>
          <%= button_tag type: 'button', onclick: "link_to('#{rooms_path(current_user)}')", class:'toppage-title-btn' do %>
            <span class="toppage-all-room">すべて見る
              <i class="fa fa-angle-right"></i>
            </span>
          <% end %>
        </div>
        <div class="row toppage-room-collection">
          <% @rooms.each do |room| %>
            <div class="col-md-3 room-collection">
              <div class="room-collection-main-image">
                <%= link_to room_path(room) do %>
                  <%= image_tag room.photos.first.image, height: '200px', width: '300px' %>
                <% end %>
                <span id="favorite-icon<%= room.id %>">
                  <%= render partial: 'favorites/favorite', locals: { room: room, favorites: @favorites } %>
                </span>
              </div>
              <div class="room-collection-introduction">
                <div class="top-text-room">
                  <%= room.room_type %>・ベッド<%= room.bedrooms.first.beds_count %>台
                </div>
                <div class="top-text-title">
                  <%= room.explanatories.first.title %>
                </div>
                <div class="top-text-price">
                  ¥<%= number_to_currency(room.prices.first.basic_charge) %> /泊
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row toppage-host-intro">
          <div class="col-md-8 toppage-host-into-content">
            <div class="toppage-host-left-content">
              <div class="toppage-host-title">
                <span>ホスティングで得られる収入をチェック</span>
              </div>
              <div class="h4 toppage-host-explanation">
                <span>空いているお部屋を活用して収入を得よう。</span>
              </div>
              <%= button_tag type: 'button', onclick: "link_to('#{introduce_rooms_path(current_user)}')", class:'toppage-host-intro-btn' do %>
                <span class="toppage-host-btn">詳しく読む</span>
              <% end %>
            </div>
            <div class="toppage-host-right-content">
              <%= image_tag('image7.jpeg', height: '208px', width: '400px', class:'toppage-host-image')%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
  <%= render partial: 'shared/footer' %>
</html>

<script>
$(function() {
  $("#autolocation2").geocomplete;
})
$("#autolocation2").geocomplete();
$("#autolocation2").click(function(){
$("input").trigger("geocode");
});
</script>
