<!doctype html>
<html>
  <head>
    <title>お部屋情報登録</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="main-content">
      <div class="new-header">
        <button type="button" class="button-style">airbnb</button>
        <div class="comp-left">
          <span class="h5 text-normal">ステップ１：最初は基本情報から</span>
        </div>
        <div class="comp-right">
          <a>保存して閉じる</a>
        </div>
        <div class="progress" style="height:5px;">
        <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="left-content">
        <div class="left-content-list">
          <div class="rooms-title">
            <span class="rooms-title-font">所在地は？</span>
          </div>
          <%= form_for [@room, @location] do |f| %>
            <div class="rooms-country">
              <h5>国</h5>
              <%= f.select :country, { 日本: '日本', アメリカ: 'アメリカ', その他: 'その他' } , {prompt: true}, {class: 'rooms-location-select'}  %>
            </div>

            <div class="rooms-postal_code">
              <h5>郵便番号</h5>
              <%= f.text_field :postal_code, {class: 'rooms-location-text_field'}  %>
            </div>

            <div class="rooms-prefecture">
              <h5>都道府県</h5>
              <%= f.text_field :prefecture, {class: 'rooms-location-text_field'}  %>
            </div>

            <div class="rooms-city">
              <h5>市区町村</h5>
              <%= f.text_field :city, {class: 'rooms-location-text_field'}  %>
            </div>

            <div class="rooms-adress">
              <h5>所番地 ※数字は半角</h5>
              <%= f.text_field :address, {class: 'rooms-location-text_field_lg'}  %>
            </div>

            <div class="rooms-building_name">
              <h5>建物名・部屋番号（任意）</h5>
              <%= f.text_field :building_name, {class: 'rooms-location-text_field_lg'}  %>
            </div>

            <div class="main-panel-action-wrapper">
              <div class="main-panel-half-content clearfix">
                <div class="main-panel-half-spacce">
                  <div class="main-panel-half">
                    <%= link_to '← 戻る', new_room_bathroom_path, method: :post, class: 'h5 rooms-back-font' %>
                    <%= f.submit '次へ', class: 'rooms-save-btn' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="helper-content">
        <div class="helper-content-list">
          <div class="card card-style rounded-0" style="width: 20rem;">
            <img class="card-img-top">
            <div class="card-body">
              <span class="fa fa-lightbulb-o fa-3x text-info" aria-hidden="true"></span><br>
              <p class="card-text text-muted">具体的な住所は、予約確定後までゲストにも秘密です。</p><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
