<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqv7XMOZuqELHb0OO5ojSqB9RiC5iQbRY&libraries=places"></script>
    <%= include_gon %>
    <%= javascript_include_tag "application" %>
    <!-- <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script> -->
    <!-- <script src="jquery.geocomplete.js"></script> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"> -->


    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>

  <body>
    <%= render partial: "layouts/flashes", flash: flash %>
    <%= yield %>
  </body>
</html>
